@model IEnumerable<Website.Models.ServiceProviderSearchResult>


@foreach (var item in Model)
    {
        var inactiveClass = item.IsActive ? "" : "list-group-item-warning";
        <li class="list-group-item clearfix @inactiveClass">
            <div class="pull-left" style="width: 80%">
                <div>
                        <h4 style="display: inline-block"><a href="@Url.Action("Details", new {item.Id})">@item.Name</a></h4>
                        @if (!item.IsActive)
                        {
                            <span class="text-danger">  ( inactive )</span>
                        }
                </div>
                <div>
                    @string.Join(", ", item.Categories)
                </div>
            </div>
            <div class="pull-right">
                <span class="link" style="padding: 10px;" data-href="@Url.Action("Delete", new {id = item.Id})" data-toggle="modal" data-target="#confirm-delete" data-name="@item.Name"><i class="fa fa-trash"></i></span>
                <a href="@Url.Action("Edit", new {item.Id})" class=""><i class="fa fa-edit"></i></a>
            </div>
        </li>
}